<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' :'' ">
  <div class="logo__container">
    <button class="logo" (click)="toggleCollapse()">T</button>
    <div class="logo-text" *ngIf="collapsed" @fadeInOut>Angular</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" @rotate>
      <i class="fa fa-times close-icon"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" role="link" aria-label="link">
        <!-- <i class="fas fa-tachometer-alt"></i> -->
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-nav-link-text" *ngIf="collapsed" @fadeInOut>{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
